<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Proyecto MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css"> </link>
    <link rel="stylesheet" href="css/normalize.css"> </link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Roboto:wght@300&display=swap" rel="stylesheet"></link>
</head>
<body>
    <header> 
        <div class="topnav">
            <div class="lo">
                <img src="imag/logo.svg" >
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
             <p><i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito </p>
        </div>
        <nav class="navbar">
             <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>  
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>
        <div class="hambur">
            <i class="fas fa-bars burger";></i>
        </div>
        </header>
    <!-- Banner-->
        <section class="banner">
            <img src="/imag/banner.jpg">
        </section>
        <main>
    <!-- Sección: Ultima visita -->
        <section class="ult-visita">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <article>
                    <img src="imag/cafetera.jpg" alt="Cafetera" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/macbook.jpg" alt="MacBook" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/samsung.jpg" alt="Teléfono Samsung Galaxy" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/tv.jpg" alt="SmartTv Samsung" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <!-- Sección: Ofertas -->
        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="imag/cafetera.jpg" alt="Cafetera" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/macbook.jpg" alt="MacBook" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/samsung.jpg" alt="Teléfono Samsung Galaxy" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="imag/tv.jpg" alt="SmartTv Samsung" class="img-pro">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>
    <footer>
        <section class="foot">
            <div class="foot-texto">
                <div class="foot-icon">
                    <i class= "fas fa-credit-card icon"></i>
                </div>
                <h4 class="h4-foot">Pagá con tarjeta o efectivo </h4>
                <p class="p-foot">Con MercadoLiebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de <br> pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="foot-texto">
                <div class="foot-icon">
                    <i class="fas fa-gift icon "></i>
                </div>
                <h4 class="h4-foot">Envio gratis desde los $2500</h4>
                <p>Solo por estar registrad@ en MercadoLiebre <br>tenés envíos gratis en miles de productos. Es <br> un beneficio de MercadoPuntos. </p>
                </div>
            <div class="foot-texto">
                <div class="foot-icon">
                    <i class="fas fa-user-shield icon"></i>
                </div>
                <h4 class="h4-foot">Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer porque <br> estás siempre protegid@.
                </p>
            </div>
        </section>
        <section class="copyright">
            <div>
                <p class="p-foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>
