<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Proyecto MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css"> </link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Roboto:wght@300&display=swap" rel="stylesheet"></link>
</head>
<body>
    <header> 
        <div class="topnav">
            <div class="lo">
                <img src="imag/logo.svg" >
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
             <p><i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito </p>
        </div>
        <nav class="navbar">
             <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>  
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>
        <div class="hambur">
            <i class="fas fa-bars burger";></i>
        </div>
    </header>
    <main class="register">
        <div class="register2">
            <form action="/register" method="POST">
                <input type="text" name="NyA" placeholder="Nombre y apellido">
                <br><br>
                <input type="text" name="user" placeholder="Nombre de usuario">
                <br><br>
                <input type="text" name="email" placeholder="E-mail">
                <br><br>
                <h3 id="age">Fecha de Nacimiento</h3>
                <input type="date" name="age" id="age">
                <br><br><br>
                <input type="text" name="adress" id="adress" placeholder="Domicilio">
                <br><br>
                <h3>Perfil de usuario</h3>
                <label id="categorias">Vendedor</label>
                <input type="radio" name="typeuser" id="vender">
                <label id="comprar">Comprador</label>
                <input type="radio" name="typeuser" id="comprar">
                <h3>Intereses</h3>
                <label id="electro">Electro</label>
                <input type="checkbox" name="electro" id="electro">
                <label id="moda">Moda</label>
                <input type="checkbox" name="moda" id="moda">
                <label id="hogar">Hogar</label>
                <input type="checkbox" name="Hogar" id="hogar">
                <label id="jugueteria">Juguetería</label>
                <input type="checkbox" name="juegueteria" id="jugueteria">
                <label id="vidasana">Vida Sana</label>
                <input type="checkbox" name="vidasana" id="vidasana">
                <div class="form-photo">
                    <h3>Foto de usuario</h3>
                    <input type="file" name="userphoto" id="userphoto" accept=".jpg, .png">
                </div>
                <br>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <br><br>
                <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmar contraseña">
                <div class="form2">
                    <button type="sumbit" action="/home" class="button-form">ENVIAR</button>
                    <button type="reset" class="button-form">BORRAR</button>
                </div>
        </form>
        </div>  
    </main>
    <footer>
            <section class="foot">
                <div class="foot-texto">
                    <div class="foot-icon">
                        <i class= "fas fa-credit-card icon"></i>
                    </div>
                    <h4 class="h4-foot">Pagá con tarjeta o efectivo </h4>
                    <p class="p-foot">Con MercadoLiebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de <br> pago. ¡Y siempre es seguro! </p>
                </div>
                <div class="foot-texto">
                    <div class="foot-icon">
                        <i class="fas fa-gift icon "></i>
                    </div>
                    <h4 class="h4-foot">Envio gratis desde los $2500</h4>
                    <p>Solo por estar registrad@ en MercadoLiebre <br>tenés envíos gratis en miles de productos. Es <br> un beneficio de MercadoPuntos. </p>
                    </div>
                <div class="foot-texto">
                    <div class="foot-icon">
                        <i class="fas fa-user-shield icon"></i>
                    </div>
                    <h4 class="h4-foot">Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer porque <br> estás siempre protegid@.
                    </p>
                </div>
            </section>
            <section class="copyright">
                <div>
                    <p class="p-foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </section>
        </footer>
    </body>
    </html>